<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recalt</title>
</head>
<body>
    <table class="table">
    <thead>
     <tr>
     <th scope="col">id</th>
     <th scope="col">_id</th>
     <th scope="col">_titulo</th>

     </tr>
    </thead>

    <%lugareslist.forEach(lugares =>{%>
        <tr>
       <th scope="row">%lugareslist</th>
       <td><%=lugareslist. titulo</td>
       <td><%=lugareslist_id </td>
       </td><%lugareslist_id </td>



        </tr>
            




</body>
</html>